includes:
    - phpstan-baseline.neon
parameters:
	level: 8
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	bootstrapFiles:
		- config/aliases.php
	paths:
		- src/
