includes:
    - phpstan-baseline.neon
parameters:
	level: 8
	ignoreErrors:
		-
			identifier: missingType.iterableValue
		-
			identifier: missingType.generics
	bootstrapFiles:
		- config/aliases.php
	paths:
		- src/
